/* Contenedor principal */
.offers {
  margin: auto;
  max-width: 1445px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9; /* Fondo claro para destacar */
  flex-direction: column; /* Asegura que la imagen esté encima y los otros banners debajo */
}

/* Contenedor para la imagen de oferta */

/* Banner de oferta principal */
.offers-banner {
  max-width: 100%;
  margin-bottom: 50px;
}

/* Imagen dentro del banner */
.offers-img {
  width: 100%;
  border-radius: 15px; /* Bordes redondeados para la imagen */
  /* Asegura que la imagen mantenga proporciones */
}

/* Contenedor de los banners placeholder */
.offers-placeholder-container {
  width: 70%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-container {
  margin-bottom: 20px;
  width: 100%;
}
.img-container:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.offer-img {
  width: 100%;
  border-radius: 15px; /* Bordes redondeados para la imagen */
  object-fit: hide; /* Asegura que la imagen mantenga proporciones */
}
@media screen and (max-width: 768px) {
  .offers {
    padding: 20px 0px;
  }
  .offers-banner {
    border-radius: 0px;
  }
  .offers-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px; /* Ajusta la altura según sea necesario */
    border-radius: 0px; /* Opcional */
  }
}
