/* Centrar todo el contenido de la página */
.quienes-somos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.img-quienesSomos {
  width: 100%;
  background-size: cover;
  margin: 10px 0px 30px 0px;
}

/* Contenedores de Misión y Visión: display flex con flex-direction column */
.mision-container,
.vision-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin-bottom: 40px;
  width: 100%;
  max-width: 880px;
}

.imagen-container {
  width: 100%;
  height: 300px; /* Tamaño de las imágenes más grandes que el texto */

  margin-bottom: 5px;
}

.img-mision {
  height: 100%;
  object-fit: contain;
}
.img-vision {
  height: 100%;
  object-fit: contain;
  margin-right: 85px;
}

.text-container {
  width: 100%;
  padding: 20px;
}

.titulo {
  font-size: 1.5rem;
  text-align: justify;
  margin-bottom: 10px;
  border-bottom: 2px solid #cf2e2e;
}

.texto {
  text-align: left;
  margin: 0px;
  font-size: 1rem;
  letter-spacing: 0.5px;
}
@media screen and (max-width: 768px) {
  .mision-container,
  .vision-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 20px;
  }
  .img-quienesSomos {
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    margin: 0px;
  }
  .img-mision {
    height: 100%;
    object-fit: contain;
    margin-left: 7px;
  }
  .img-vision {
    height: 100%;
    object-fit: contain;
    margin-right: 35px;
  }
  .imagen-container {
    width: 100%;
    height: 150px; /* Tamaño de las imágenes más grandes que el texto */
  }

  .texto {
    text-align: left;
    letter-spacing: 0.3px;
    font-size: 15px;
  }
}
