/* Centrar todo el contenido de la página */
.quienes-somos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;

}

.img-quienesSomos {
  width: 100%;
 background-size: cover;
 margin: 10px 0px 30px 10px;

}

/* Contenedores de Misión y Visión: display flex con flex-direction column */
.mision-container, .vision-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin-bottom: 40px;
  width: 100%;
  max-width: 800px;
}

.imagen-container {
  width: 100%;
  height: 300px; /* Tamaño de las imágenes más grandes que el texto */
  
  margin-bottom: 20px;

}
.img-mision, .img-vision {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.text-container {
  width: 100%;
  padding: 20px;
}

.titulo {
  font-size: 1.5rem;
  text-align: justify;
  margin-bottom: 10px;
  border-bottom: 2px solid #cf2e2e;
}

.texto {
  text-align: justify; /* Justificar el texto */
  margin: 0;
  font-size: 1rem;
}
@media screen and (max-width: 768px){
  .quienes-somos-container {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    align-items: center;
    text-align: justify; 
  } 

  .img-quienesSomos {
    width: 100%;
   object-fit: cover;
   background-repeat: no-repeat;
   margin: 0px;
  
  }
  .mision-container, .vision-container {
    display: flex;
    flex-direction: column;  
  }

  .img-mision, .img-vision {
    width: 100%;
    height: 150px;
    object-fit: contain;
  }

  .imagen-container {
    width: 100%;
    height: 150px; /* Tamaño de las imágenes más grandes que el texto */
    
    margin-bottom: 20px;
  
  }
  
.texto {
  text-align: justify; /* Justificar el texto */
  margin: 2px;
  font-size: 1rem;
}
.text-container {
  width: 100%;
  padding: 0px;
  margin: 2px;
  flex-direction: column;
  display: flex;

}  
}
@media screen and (min-width: 769px) and (max-width: 1024px){
  .mision-container, .vision-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-bottom: 40px;
    width: 100%;
    max-width: 800px;
  }
  .img-quienesSomos{
    margin: 10px 0px 30px 0px;

  }
  
}