/* Estilo para las opciones de la barra de navegación (listas) */
.nav-options {
  display: flex; /* Aplica flexbox para alinear los elementos horizontalmente */
  justify-content: flex-start; /* Alinea las opciones hacia el inicio */
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Estilo para cada opción de navegación */
.nav-option {
  display: flex; /* Flex para mantener el texto alineado */
  align-items: center; /* Alinea el contenido del botón (texto) */
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease,
    border-radius 0.2s ease;
  border-radius: 10px;
  margin-right: 10px; /* Espacio entre las opciones */
}

/* Estilo para los enlaces dentro de cada opción */
.nav-link {
  text-decoration: none;
  color: black; /* Color del texto */
  font-weight: bold;
  padding: 10px 15px; /* Añade algo de espacio alrededor del texto */
  transition: color 0.2s ease; /* Transición suave para el color */
}

.nav-option:hover .nav-link {
  color: red; /* Letras blancas al hacer hover */
}
/* ButtonNavBar.module.css */
.hamburger-btn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 10;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: black;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Cuando el menú está abierto, las barras se transforman */
.bar.open:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}

.bar.open:nth-child(2) {
  opacity: 0;
}

.bar.open:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

/* Menú de navegación */
.nav-options {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.nav-option {
  font-size: 16px;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.separator {
  width: 1px;
    
  height: 20px;
  margin-left: 10px;
}

/* En pantallas móviles */
@media screen and (max-width: 768px) {
  /* Ocultar el menú en dispositivos móviles */
  .nav-options {
    display: none;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    justify-self: start;
    order: 1;
  }

  /* Mostrar el menú cuando está abierto */
  .nav-options.open {
    display: flex;
    transform: translateX(0);
  }

  /* Mostrar el botón hamburguesa */
  .hamburger-btn {
    display: flex;
  }
}
