.products {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Espaciado consistente */
  gap: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #272727;
  border-radius: 20px; /* Bordes redondeados */
  width: 255px; /* 250 */
  margin: 10px;
  text-decoration: none;
  transition: transform 0.5s ease, box-shadow 0.5s ease; /* Suaves transiciones */
  height: 400px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08); /* Sombra más suave y difusa */
}

.product-card:hover {
  transform: translateY(-10px); /* Levanta ligeramente al pasar el mouse */
  box-shadow: 0 10px 10px rgb(88, 88, 88); /* Sombra más visible y elegante */
}

.product-img {
  object-fit: cover;
  height: 250px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #f0f0f0;
}

.product-info {
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.product-title {
  text-transform: uppercase;
  
  font-weight: 700;
  font-style: normal;
  font-size: 16px;

  line-height: 24px;
  margin: 10px 0 5px;
}

.product-price-block {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 100px;
  margin-top: 10px;
}

.product-price-block .current-price {
  font-size: 22px;
  font-weight: bold;
  color: #002d85;
}

.product-price-block .old-price {
  font-size: 14px;
  font-weight: 400;
  color: #aaa;
  text-decoration: line-through;
}

.product-info .icon {
  font-size: 18px;
  color: white;
}
.brand {
  font-size: 12px;
  text-transform: uppercase;
  color: #8E8E8E;
  font-weight: 400;
    font-style: normal;
}
.case-icon {
  background-color: #E01A22;
  width: 35px;
  height: 35px;
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
