/* Contenedor principal del encabezado */
.header-container {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgb(246, 246, 246);
  justify-content: space-around;
}

/* Logo del encabezado */
.header-logo {
  width: 10rem;
  margin-top: 3px;
}

/* Media query para pantallas más pequeñas (menos de 768px) */
@media screen and (max-width: 768px) {
  .logo-container {
    justify-self: center;
    order: 2;
  }
  .header-container {
    justify-content: space-between;
  }
}
