/* Contenedor principal que ocupa todo el ancho de la pantalla */
.hero-container {
  width: 100%; /* Hacer que el contenedor ocupe todo el ancho de la pantalla */

  margin: 0 auto;
  overflow: hidden; /* Ocultamos cualquier contenido fuera del contenedor */
}

/* Contenedor del slider, que se adapta a la altura del hero-container */
.slider-container {
  position: relative;
  height: 100%; /* Aseguramos que el contenedor ocupe el 100% de la altura del hero-container */
}

/* Flechas de navegación */
.leftArrow,
.rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%); /* Centra las flechas verticalmente */
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  z-index: 3; /* Las flechas están por encima de los puntos */
  cursor: pointer;
  opacity: 0.2; /* La transparencia inicial */
  user-select: none; /* Evita que se seleccione el texto */
}

.leftArrow:hover,
.rightArrow:hover {
  opacity: 1;
}

.leftArrow {
  left: 32px; /* Ubica la flecha a la izquierda */
}

.rightArrow {
  right: 32px; /* Ubica la flecha a la derecha */
}

/* Contenedor de las imágenes, ajustamos la visualización de las imágenes */
.container-images {
  width: 100%; /* Aseguramos que el contenedor ocupe todo el ancho */
  height: 100%; /* Aseguramos que el contenedor ocupe todo el alto */
  overflow: hidden;
  display: flex; /* Aseguramos que las imágenes estén en fila horizontal */
  transition: transform 0.5s ease; /* Suavizamos la transición de deslizamiento */
}

/* Las imágenes dentro del contenedor */
.container-images ul {
  display: flex; /* Colocamos las imágenes en fila */
  transition: transform 0.5s ease; /* Suavizamos la transición de deslizamiento */
}

.container-images ul li {
  flex: 0 0 100%; /* Cada imagen ocupará el 100% del contenedor */
  transition: transform 0.5s ease; /* Aseguramos que cada imagen tenga una transición suave */
}

/* Imagen con ajuste completo al contenedor */
.container-images ul li img {
  width: 100%; /* Aseguramos que las imágenes ocupen todo el ancho del li */
  object-fit: cover; /* La imagen se recorta para llenar el contenedor sin perder la relación de aspecto */
}

/* Dots del carrusel, ahora los ponemos fuera de la imagen pero visibles */
.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px; /* Lo posicionamos 20px desde la parte inferior */
  width: 100%; /* Aseguramos que ocupe todo el ancho */
  z-index: 2; /* Los puntos estarán por encima de las flechas */
  height: 40px;
  margin-top: 5px;
}

/* Estilo para los puntos */
.dot-container-item {
  margin: 8px 3px;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  position: relative;
}

/* Estilo para los puntos activos */
.dot-container-item.active svg {
  fill: #494444; /* Muestra la sombra solo cuando el punto está activo */
  width: 40px;
  height: 40px;
}

/* Efecto hover */
.dot-container-item:hover svg {
  fill: #9a9090; /* Sombra más visible al hacer hover */
  width: 30px;
  height: 30px;
}

/* Media query para pantallas más pequeñas (móviles) */
@media screen and (max-width: 768px) {
  /* Ajustamos la altura de la imagen para pantallas pequeñas */
  .hero-container {
    width: 100%;
    height: 100%;
  }

  /* Contenedor del slider */
  .slider-container {
    height: 100%; /* El contenedor del slider debe ocupar el 100% de la altura */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Aseguramos que los puntos estén siempre al fondo */
  }

  /* Imagen dentro del contenedor */
  .container-images ul li img {
    object-position: center; /* Centra la imagen */
    object-fit: cover; /* La imagen cubre todo el contenedor sin perder la relación de aspecto */
    height: 100%; /* La imagen siempre ocupará toda la altura disponible */
    width: 100%; /* La imagen ocupará todo el ancho del contenedor */
    margin-top: 0;
  }

  /* Dots del carrusel */
  .dots-container {
    position: relative; /* Los puntos están fijos en la parte inferior */
    bottom: 0px; /* Ajustamos la distancia desde la parte inferior */
    width: 100%; /* Los puntos ocupan todo el ancho */
    display: flex;
    justify-content: center; /* Centra los puntos */
    z-index: 2; /* Los puntos deben estar por encima de la imagen */
  }

  /* Estilo de los puntos */
  .dot-container-item {
    margin: 0 5px; /* Ajustamos el margen entre los puntos */
    cursor: pointer;
    font-size: 14px; /* Reducimos el tamaño de los puntos */
    color: black;
    position: relative;
    display: inline-block;
  }

  /* Puntos activos */
  .dot-container-item.active::after {
    opacity: 1;
  }

  /* Efecto hover */
  .dot-container-item:hover::after {
    opacity: 0.6; /* Sombra más visible al hacer hover */
  }
}
