.header {
  position: fixed;

  width: 100%;
  z-index: 1000;
}
.main {
  margin-top: 116px;
}

@media screen and (max-width: 768px) {
  .header {
    justify-items: center;
  }
  .main {
    margin-top: 100px;
  }
}
