/**Header-messages**/
.messages-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0px;
  background-color: #cf2e2e;
  height: 1rem;
  overflow: hidden;
  border: 1px solid black;
  position: relative;
  justify-content: space-between;
}

.messages {
  width: 100%;
  min-width: 800px;
  position: absolute;
  display: flex;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 800;
  justify-content: space-around;
  animation: scrollMessages 20s linear infinite;
  visibility: hidden;
}

.messages-1 {
  animation-delay: 0s; /* Empieza inmediatamente */
}

.messages-2 {
  animation-delay: 10s; /* Comienza después de que el primer mensaje termina */
}

@keyframes scrollMessages {
  0% {
    visibility: visible;
    transform: translateX(100%); /* Comienza fuera de la izquierda */
  }

  50% {
    transform: translateX(0%); /* Totalmente visible en el centro */
  }
  100% {
    transform: translateX(-100%); /* Completamente fuera de la izquierda */
  }
}
@media screen and (max-width: 1024px) {
  .messages {
    animation: scrollMessages 20s linear infinite;
  }
  .messages-1 {
    animation-delay: 0s; /* Empieza inmediatamente */
  }

  .messages-2 {
    animation-delay: 10s; /* Comienza después de que el primer mensaje termina */
  }
  @keyframes scrollMessages {
    0% {
      visibility: visible;
      transform: translateX(100%); /* Comienza fuera de la izquierda */
    }

    50% {
      transform: translateX(0%); /* Totalmente visible en el centro */
    }
    100% {
      transform: translateX(-100%); /* Completamente fuera de la izquierda */
    }
  }
}
