/* Contenedor general de la barra de navegación */
.nav-container {
  display: flex;
  justify-content: center; /* Centra la barra de navegación */
  padding: 10px 0;
  background-color: transparent;
}

/* Contenedor del nav */
.nav {
  padding: 10px 0px;

  /* Asegura que ocupe todo el ancho disponible */
}
@media screen and (max-width: 768px) {
  .nav-container {
    width: 30%;
    justify-content: left;
    padding-left: 50px;
  }
}
