/* Contenedor general de la barra de navegación */
.nav-container {
  display: flex;
  justify-content: center; /* Centra la barra de navegación */
  padding: 10px 0;
  background-color: white;
  width: 100%; /* Asegura que ocupe todo el ancho */
}

/* Contenedor del nav */
.nav {
  padding: 10px 0px;

  /* Asegura que ocupe todo el ancho disponible */
}
@media screen and (max-width: 768px) {
  .nav-container {
    justify-content: left;
    padding-left: 50px;
  }
}
/* Media query para pantallas móviles (menos de 768px) */
@media screen and (max-width: 768px) {  
  .nav-container {
    display: flex;
    justify-content: space-between; /* Centra la barra de navegación */
    padding: 0;
    background-color: white;
    
  }
  
}
