/* SearchBar.module.css */
.search-form {
  display: flex;
  align-items: center;
  width: 226px;
  background-color: rgba(0, 0, 0, 0.1); /* Fondo de la barra */
  border-radius: 4px; /* Bordes redondeados */
}

.search-form:focus-within {
  box-shadow: 0 6px 12px rgba(139, 0, 0, 0.5), 0 0 6px rgba(255, 0, 0, 0.3); /* Sombra cuando se enfoca algún elemento dentro */
}

.search-input {
  width: 100%;
  padding: 8px 12px 8px 20px; /* Espaciado para dejar espacio al icono */
  font-size: 16px;
  border: none; /* Sin borde en el input */
  background-color: transparent; /* Fondo transparente */
  outline: none; /* Elimina el contorno por defecto del navegador */
}

.search-form div {
  display: none;
}

@media screen and (max-width: 768px) {
  .search-form {
    justify-content: right;
    background-color: transparent;
    order: 3;
    padding-right: 50px;
    width: 0px;
  }
  .search-input {
    display: none;
  }
}
